[Unit]
Description=Ethereum go client
After=network.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
EnvironmentFile=/home/ubuntu/naka-server/testnet/client/.env
ExecStart=/home/ubuntu/naka-server/node-client/start-client-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geth

[Install]
WantedBy=multi-user.target
